<!-- post_details.erb -->
<h1>Your Awesome Blog</h1>
<h2> Title </h2>
<p><%=@now.title%></p>
<h2> Date </h2>
<p><%=@now.date%></p>
<h3> Content </h3>
<p><%=@now.text%></p>
<h4> Category </h4>
<p><%=@now.category%></p>
<h2> Author </h2>
<p><%=@now.author%></p>

 <a href = "/">Go Back to Blog</a>



<!-- <form>

	<button type="submit">
		Go back to your Blog
	</button>
</form> -->